.brandContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.brandIcon {
    color: mediumseagreen;
    width: 2rem;
    height: 2rem;
}

.brandName {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.emailVerificationForm {
    width: clamp(300px, 50%, 500px);
    padding: 1.25rem 1.25rem;
    border: 0.5px solid lightgray;
    border-radius: 8px;
}

.emailVerificationFormMainHeader {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
}

.emailVerificationFormSubHeader {
    color: gray;
    margin: 0.25rem 0 1rem 0;
}

.emailVerificationFormInput {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 0.875rem;
    border: 0.5px solid mediumseagreen;
    border-radius: 8px;
    letter-spacing: 1rem;
}

.emailVerificationFormInput:hover {
    border: 0.5px solid seagreen;
}

.errorMessage {
    color: red;
    text-align: center;
}

.emailVerificationFormButton {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: floralwhite;
    background: mediumseagreen;
}

.emailVerificationFormButton:hover {
    background: seagreen;
}

@media (max-width: 496px) {
    .emailVerificationForm {
        width: 100%;
        box-sizing: border-box;
        border: none;
    }
}
